body{
    margin: 2%;
}

#head{
    text-align: center;
}

#head img{
    width: 800px;
    height: 260px;
}

#container div{
    text-align: center;
    float: left;
    margin: 3%;
    margin-top:0%;
    position: relative;
}

#table{
    text-align: center;
}

#left{
    width: 60%;
}

#right{
    width: 25%;
    height: 300px;
}

.juegos{
    column-count: 3;
    padding: 0;
}

.item-juegos{
    width: 100%;
    text-align: left;
    display: inline-block;
    list-style-type: none;
    margin: 5;
    padding: 5;
    color: black;
}

.item-juegos:hover{
    text-decoration: underline;
}

#jornada_head{
    height: 100px;
    width: 100%;
    margin: 2%;
    margin-bottom: 3%;
}

#jornada_head img{
    height: 100px;
    width: 120px;
    display: inline-block;
}

#jornada_head h1{
    margin: 2%;
    display: inline-block;
}


.answer-right{
    color: green;
}

.answer-wrong{
    color: red;
}

.answer-null{
    color:rgb(226, 200, 48);
}


