#jornada_head{
    width: 100%;
    margin: 2%;
    margin-bottom: 3%;
    display:flex;
    align-items: center;
    gap: 2rem;
}

#jornada_head img{
    width: 6rem;
}

#jornada_head h1{
    font-size: 2rem;
}

.jornada-table th {
    height: 5rem;
    text-align: center;
    vertical-align: middle;
}

.jornada-table td {
    height: 4rem;
    text-align: center;
    vertical-align: middle;
}

#jornada-names {
    border-right: 1px solid #dbdbdb;
}

#jornada-total {
    border-left: 1px solid #dbdbdb;
}

#jornada-total td {
    font-weight: 900;
    font-size: 1.05rem;
}

.answer-right{
    color: green;
}

.answer-wrong{
    color: red;
}

.answer-null{
    color:rgb(226, 200, 48);
}


