body{
    margin: 2%;
}

#head{
    text-align: center;
}

#head img{
    width: 800px;
    height: 260px;
}

#container div{
    text-align: center;
    float: left;
    margin: 3%;
    position: relative;
}

#table{
    text-align: center;
}

#left{
    width: 60%;
}

#right{
    width: 25%;
    height: 300px;
}

